{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/reclamacao/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Remover</th>
        </tr>
        {% for u in dados %}
        <tr>
            <th>{{u.descricao}}</th>
            <th>{{u.data}}</th>
            <th>{{u.cliente.nome}}</th>
            <th><a href="/reclamacao/remove/{{u.id}}">Remover</a></th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}

