:root {
    --primary: #FDAE02;
    --secondary: #5A5F64;
    --alert: #ff0000;
    --white: #fff;
    --black: #000;
}

header {
    background-color: var(--primary);
    display: flex;
    height: 6rem;
    width: 100%;
}

header img{
    width: 5rem;
    height: 5rem;
    display: flex;
}

table, tr, th{
    border: 2px solid black;
    border-collapse: collapse;
}

tr, th {
    padding: 4px;
}
