@font-face {
    font-family: 'Timepiece';
    src: url('Timepiece.ttf') format('truetype');
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: "Timepiece", sans-serif;
}
:root {
    --primary: rgb(0, 255, 191);
    --secondary: rgb(76, 0, 255);
    --alert: #ff0000;
    --white: #fff;
    --black: #000;
}

header {
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    display: flex;
}

header img{
    width: 12rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul li a {
    justify-content: space-between;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    color: #06285c;
}
main {
    background-color: var(--primary);
}

body {
    font-family: "Timepiece", "Times New Roman";
    font-size: 110%;
}

table, tr, th{
    border: 2px solid black;
    border-collapse: collapse;
}

tr, th {
    padding: 4px;
}

footer{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5rem;
}