<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogadores e Times</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <img src="../static/img/bug.png" alt="bug">
        <nav>
            <ul>
                <li>
                    <a href="/cliente">Clientes</a>
                </li>
                <li>
                    <a href="/reclamacao">Reclamações</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>