{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/jogador/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Posicao</th>
        </tr>
        {% for u in dados %}
        <tr>
            <td>{{u.nome}}</td>
            <td>{{u.posicao}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}
