{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form class="paci_edita" action="/jogador/editasave" method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{dados.id}}">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" value="{{dados.nome}}" required>
            </div>
            <div>
                <label for="posicao">Posição: </label>
                <input type="text" name="posicao" id="posicao" value="{{dados.posicao}}" required>
            </div>
            <button type="submit">Salvar</button>
        </fieldset>
    </form>

{% endblock %}