{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/jogador/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Posicao</th>
            <th>Edita</th>
            <th>Remove</th>
        </tr>
        {% for j in dados %}
        <tr>
            <th>{{j.nome}}</th>
            <th>{{j.posicao}}</th>
            <th><a href="/jogador/edita/{{j.id}}">Editar</a></th>
            <th><a href="/jogador/remove/{{j.id}}">Remover</a></th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}
