{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/cliente/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
        {% for c in dados %}
        <tr>
            <th>{{c.nome}}</th>
            <th>{{c.telefone}}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}
