{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/cliente/save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="telefone">Telefone: </label>
            <input type="text" name="telefone" id="telefone">
        </div>
        <button type="submit">Salvar</button>
    </form>

{% endblock %}
