{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/time/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome do jogador</th>
            <th>Nome do time</th>
            <th>Cidade</th>
            <th>Edita</th>
            <th>Remove</th>
        </tr>
        {% for u in dados %}
        <tr>
            <th>{{u.jogador.nome}}</th>
            <th>{{u.nome}}</th>
            <th>{{u.cidade}}</th>
            <th><a href="/time/edita/{{u.id}}">Editar</a></th>
            <th><a href="/time/remove/{{u.id}}">Remover</a></th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}

