{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form class="paci_edita" action="/time/editasave" method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{dados.id}}">
            <div>
                <label for="nome">Jogador: </label>
                <select name="jogador_id" id="nome">
                    <option value=""></option>
                    {% for j in jogador %}
                    <option value="{{j.id}}">{{j.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" value="{{dados.nome}}" required>
            </div>
            <div>
                <label for="cidade">Cidade: </label>
                <input type="text" name="cidade" id="cidade" value="{{dados.cidade}}" required>
            </div>
            <button type="submit">Salvar</button>
        </fieldset>
    </form>

{% endblock %}